<h1>New Tea</h1>
<%= form_for :tea, url: teas_path do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </p>

    <p>
      <%= f.label :thumb %><br>
      <%= f.text_field :thumb %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>